:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text color */
  --primary-txt-cl: #757575;
  --txt-dark-cl: #212121;
  --txt-light-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --contacts-txt-cl: rgba(255, 255, 255, 0.6);
  --logo-dark-cl: #000000;
  /* bg color */
  --hero-bg-cl: #c4c4c4;
  --team-btn-bg-cl: #f5f4fa;
  --address-bg-cl: #2f303a;
  --btn-bg-cl: #f5f4fa;
  --btn-hover-cl: #188ce8;
  --about-bg-cl: rgba(47, 48, 58, 0.8);
  --overlay-bg-cl: rgba(33, 150, 243, 0.9);
  --backdrop-bg-cl: rgba(0, 0, 0, 0.2);
  /* icon color */
  --icon-grey-cl: #afb1b8;
  --social-bg-cl: rgba(255, 255, 255, 0.1);
  /* borders */
  --header-border: 1px solid #ececec;
  --portfolio-border: 1px solid #eeeeee;
  --footer-form-border: 1px solid rgba(255, 255, 255, 0.3);
  --hov-footer-form-border: 1px solid #2196f3;
  --modal-input-border: 1px solid rgba(33, 33, 33, 0.2);
  /* shadow */
  --hov-portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  --hov-btn-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --menu-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
      0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  /* card-set */
  --gap: 30px;
  --card-item: 1;
  /* animate */
  --hov-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-anim: 400ms ease;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio__list, .portfolio__btn-list, .clients__list, .team__list, .about__list, .features__list, .header__contact, .header__nav-list, .address__contact, .address__list, .socmedia, .menu__contact, .menu__nav-list, .social {
  list-style: none;
}

.clients__link, .header__nav-link, .product__link, .address__link, .socmedia__link, .menu__contact-link, .menu__nav-link, .logo, .social__link, .contact-link {
  text-decoration: none;
  color: currentColor;
}

.clients__title, .team__title, .about__title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--txt-dark-cl);
}
@media screen and (min-width: 1200px) {
  .clients__title, .team__title, .about__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

body {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: var(--main-font);
  color: var(--primary-txt-cl);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap);
}

.card-item {
  -ms-flex-preferred-size: calc((100% - var(--gap) * (var(--card-item) - 1)) / var(--card-item));
      flex-basis: calc((100% - var(--gap) * (var(--card-item) - 1)) / var(--card-item));
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.contact-link {
  -webkit-transition: color var(--hov-anim);
  transition: color var(--hov-anim);
}
.contact-link:hover, .contact-link:focus {
  color: var(--accent-txt-cl);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.social__link--light-bg {
  -webkit-transition: background-color var(--hov-anim), fill var(--hov-anim);
  transition: background-color var(--hov-anim), fill var(--hov-anim);
  background-color: var(--txt-light-cl);
  fill: var(--icon-grey-cl);
}
.social__link--light-bg:hover, .social__link--light-bg:focus {
  background-color: var(--accent-txt-cl);
  fill: var(--txt-light-cl);
}
.social__link--dark-bg {
  -webkit-transition: background-color var(--hov-anim);
  transition: background-color var(--hov-anim);
  background-color: var(--social-bg-cl);
  fill: var(--txt-light-cl);
}
.social__link--dark-bg:hover, .social__link--dark-bg:focus {
  background-color: var(--accent-txt-cl);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-txt-cl);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--dark {
  color: var(--logo-dark-cl);
}
.logo--light {
  color: var(--txt-light-cl);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-studio {
  -webkit-transition: background-color var(--hov-anim);
  transition: background-color var(--hov-anim);
  min-width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--txt-light-cl);
  -webkit-box-shadow: var(--box-shadow-btn);
          box-shadow: var(--box-shadow-btn);
  background-color: var(--accent-txt-cl);
}
.btn-studio:hover, .btn-studio:focus {
  background-color: var(--btn-hover-cl);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  -webkit-transition: opacity var(--modal-anim), visibility var(--modal-anim);
  transition: opacity var(--modal-anim), visibility var(--modal-anim);
  background-color: var(--txt-light-cl);
  -webkit-box-shadow: var(--menu-shadow);
          box-shadow: var(--menu-shadow);
}
.menu.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  height: 100%;
}

.menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu__btn-close:hover, .menu__btn-close:focus {
  fill: var(--accent-txt-cl);
}

.menu-btn {
  -webkit-transition: fill var(--hov-anim);
  transition: fill var(--hov-anim);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: var(--txt-light-cl);
  fill: var(--logo-dark-cl);
  border: none;
}

.menu__nav {
  margin-bottom: auto;
}

.menu__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--txt-dark-cl);
}
.menu__nav-link:hover, .menu__nav-link:focus {
  color: var(--accent-txt-cl);
}
.menu__nav-link--current {
  color: var(--accent-txt-cl);
}

.menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.menu__contact-link-tel {
  font-weight: 500;
  font-size: 27px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}
@media screen and (min-width: 377px) {
  .menu__contact-link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

.menu__contact-link-mail {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.socmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.socmedia__item:not(:last-child) .socmedia__link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.socmedia__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.advantage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-bg-cl);
  border-radius: 4px;
}

.advantage__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--txt-dark-cl);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantage__subtitle {
    text-align: left;
  }
}

.advantage__txt {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.making {
  position: relative;
}

.making__txt {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--txt-light-cl);
  background-color: var(--about-bg-cl);
}

.team-member {
  -webkit-box-shadow: var(--card-team-shadow);
          box-shadow: var(--card-team-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-member__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: var(--txt-light-cl);
}

.team-member__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--txt-dark-cl);
}

.team-member__txt {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.address {
  font-style: inherit;
  color: var(--contacts-txt-cl);
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .address__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address__list {
    gap: 9px;
  }
}

.address__link {
  -webkit-transition: color var(--hov-anim);
  transition: color var(--hov-anim);
  color: var(--txt-light-cl);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-txt-cl);
}

.address__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .address__contact {
    gap: 9px;
  }
}

.joining__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--txt-light-cl);
}

.subscription__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--txt-light-cl);
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
@media screen and (max-width: 1199px) {
  .subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.subscription__input {
  -webkit-transition: border var(--hov-anim);
  transition: border var(--hov-anim);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--contacts-txt-cl);
  border: var(--footer-form-border);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  outline: transparent;
}
@media screen and (max-width: 479px) {
  .subscription__input {
    max-width: 95vw;
  }
}
@media screen and (max-width: 1199px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}
.subscription__input:hover, .subscription__input:focus {
  border: var(--hov-footer-form-border);
}

.subscription__icon {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity var(--modal-anim), visibility var(--modal-anim);
  transition: opacity var(--modal-anim), visibility var(--modal-anim);
  background-color: var(--backdrop-bg-cl);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-250%, 150%) scaleX(0.1) rotate(810deg);
          transform: translate(-250%, 150%) scaleX(0.1) rotate(810deg);
}

.modal {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 500;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scaleX(1) rotate(0);
          transform: translate(-50%, -50%) scaleX(1) rotate(0);
  -webkit-transition: opacity var(--modal-anim), -webkit-transform var(--modal-anim);
  transition: opacity var(--modal-anim), -webkit-transform var(--modal-anim);
  transition: transform var(--modal-anim), opacity var(--modal-anim);
  transition: transform var(--modal-anim), opacity var(--modal-anim), -webkit-transform var(--modal-anim);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: 100%;
  background-color: var(--txt-light-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(0, 0) scaleX(1) rotate(0);
            transform: translate(0, 0) scaleX(1) rotate(0);
    overflow-y: scroll;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 100%;
    max-height: 609px;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: var(--accent-txt-cl);
}

.close-btn {
  -webkit-transition: fill var(--hov-anim);
  transition: fill var(--hov-anim);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--txt-light-cl);
  fill: var(--logo-dark-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__form {
  width: 100%;
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  color: var(--txt-dark-cl);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__group {
  margin-bottom: 20px;
}

.modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.modal__label:last-child {
  margin-bottom: 0;
}

.modal__desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__input-group {
  position: relative;
}

.modal__input {
  -webkit-transition: border var(--hov-anim);
  transition: border var(--hov-anim);
  display: block;
  width: 100%;
  border: var(--modal-input-border);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
}
.modal__input:focus-within, .modal__input:hover {
  border: var(--hov-footer-form-border);
}

.modal__icon {
  -webkit-transition: fill var(--hov-anim);
  transition: fill var(--hov-anim);
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal__input:focus-within + .modal__icon, .modal__input:hover + .modal__icon {
  fill: var(--accent-txt-cl);
}

.user-data {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
}

.user-comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.user-comment::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-comment::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-comment:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-comment::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .user-comment::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  .user-comment::-moz-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  .user-comment:-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  .user-comment::-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  .user-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.modal__agreement-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal__agreement-input + .modal__agreement-icon > .modal__icon-check {
  -webkit-transition: fill var(--hov-anim);
  transition: fill var(--hov-anim);
}

.modal__agreement-input:focus + .modal__agreement > .modal__icon-check,
.modal__agreement-input:hover + .modal__agreement > .modal__icon-check {
  fill: var(--accent-txt-cl);
}

.modal__agreement-input:checked + .modal__agreement > .modal__icon-agreement {
  opacity: 1;
}

.modal__agreement-input:checked + .modal__agreement > .modal__icon-check {
  opacity: 0;
  -webkit-transition: opacity var(--hov-anim);
  transition: opacity var(--hov-anim);
}

.modal__icon-agreement {
  opacity: 0;
  -webkit-transition: opacity var(--hov-anim);
  transition: opacity var(--hov-anim);
}

.modal__agreement {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.modal__agreement-txt {
  margin-left: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 1199px) {
  .modal__agreement-txt {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal__link {
  color: var(--accent-txt-cl);
  text-decoration: underline;
  text-underline-position: under;
}

.modal__btn {
  padding-left: 52px;
  padding-right: 52px;
  outline: transparent;
}

.overlay {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity var(--hov-anim), -webkit-transform var(--hov-anim);
  transition: opacity var(--hov-anim), -webkit-transform var(--hov-anim);
  transition: transform var(--hov-anim), opacity var(--hov-anim);
  transition: transform var(--hov-anim), opacity var(--hov-anim), -webkit-transform var(--hov-anim);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--txt-light-cl);
  background-color: var(--overlay-bg-cl);
}
@media screen and (min-width: 480px) {
  .overlay {
    padding-top: 77px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.overlay__txt {
  height: 100%;
  overflow: auto;
}

.product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--hov-anim);
  transition: -webkit-box-shadow var(--hov-anim);
  transition: box-shadow var(--hov-anim);
  transition: box-shadow var(--hov-anim), -webkit-box-shadow var(--hov-anim);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
}
.product__link:hover, .product__link:focus {
  -webkit-box-shadow: var(--hov-portfolio-shadow);
          box-shadow: var(--hov-portfolio-shadow);
}
.product__link:hover .overlay, .product__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.product__card-box {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-left: var(--portfolio-border);
  border-right: var(--portfolio-border);
  border-bottom: var(--portfolio-border);
}

.product__title {
  margin-bottom: 4px;
  text-align: left;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--txt-dark-cl);
}

.product__txt {
  font-size: 16px;
  line-height: 1.88;
}

.header {
  font-weight: 500;
  line-height: 1.14;
  border-bottom: var(--header-border);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu {
    margin-left: 93px;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  letter-spacing: 0.02em;
}

.header__nav-item {
  position: relative;
}

.header__nav-link {
  -webkit-transition: color var(--hov-anim);
  transition: color var(--hov-anim);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--txt-dark-cl);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: var(--accent-txt-cl);
}
.header__nav-link--current {
  color: var(--accent-txt-cl);
}
.header__nav-link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-txt-cl);
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.header__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .header__contact-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-icon-mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-icon-tell {
    width: 10px;
    height: 16px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-1@1x_sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-1@1x_sm.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-1@2x_sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-1@2x_sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-1@1x_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-1@1x_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-1@2x_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-1@2x_md.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-1@1x_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-1@1x_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-1@2x_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-1@2x_lg.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--txt-light-cl);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    --card-item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    --card-item: 4;
  }
}

.about {
  padding-top: 0;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.about__container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about__container {
    display: block;
  }
}

.about__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 50px;
  }
}

.about__list {
  --card-item: 3;
}

.team {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--team-btn-bg-cl);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    --card-item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    --card-item: 4;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    --card-item: 2;
  }
}
@media screen and (min-width: 768px) {
  .clients__list {
    --card-item: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    --card-item: 6;
  }
}

.clients__link {
  -webkit-transition: fill var(--hov-anim), border var(--hov-anim);
  transition: fill var(--hov-anim), border var(--hov-anim);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icon-grey-cl);
  border: 1px solid var(--icon-grey-cl);
  border-radius: 4px;
}
.clients__link:hover, .clients__link:focus {
  --icon-grey-cl: var(--accent-txt-cl);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--address-bg-cl);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    gap: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item:last-child {
    margin-left: auto;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__btn-list {
    margin-bottom: 50px;
  }
}

.portfolio__btn {
  -webkit-transition: color var(--hov-anim), background-color var(--hov-anim), -webkit-box-shadow var(--hov-anim);
  transition: color var(--hov-anim), background-color var(--hov-anim), -webkit-box-shadow var(--hov-anim);
  transition: color var(--hov-anim), background-color var(--hov-anim), box-shadow var(--hov-anim);
  transition: color var(--hov-anim), background-color var(--hov-anim), box-shadow var(--hov-anim), -webkit-box-shadow var(--hov-anim);
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--txt-dark-cl);
  background-color: var(--team-btn-bg-cl);
}
.portfolio__btn:hover, .portfolio__btn:focus, .portfolio__btn--active {
  color: var(--txt-light-cl);
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: var(--hov-btn-portfolio);
          box-shadow: var(--hov-btn-portfolio);
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    --card-item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    --card-item: 3;
  }
}/*# sourceMappingURL=main.css.map */