.about {
    @include section(0, 60px);

    @media screen and (min-width: 1200px) {
        @include section (0, 94px);
    }
}

.about__container {
    display: none;

    @media screen and (min-width: 1200px) {
    display: block;
    }
}
.about__title {
    @extend %title;

    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.about__list {
    @extend %reset-list;

    --card-item: 3;
}