.clients {
@include section();
@media screen and (min-width: 1200px) {
        @include section (94px, 94px);
    }
}

.clients__title {
    @extend %title;
    
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
}

.clients__list {
    @extend %reset-list;
    
    @media screen and (min-width: 480px) {
        --card-item: 2;
    }
    @media screen and (min-width: 768px) {
        --card-item: 3;
    }
    @media screen and (min-width: 1200px) {
        --card-item: 6;
    }
}

.clients__link {
    @extend %reset-link;
    
    transition: fill var(--hov-anim), border var(--hov-anim);

    display: flex;
    min-height: 92px;
    align-items: center;
    justify-content: center;

    fill: var(--icon-grey-cl);
    border: 1px solid var(--icon-grey-cl);
    border-radius: 4px;

    &:hover,
    &:focus {
            --icon-grey-cl: var(--accent-txt-cl);
        }
}

