.footer {
    @include section(60px, 60px);
    
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--address-bg-cl);
}

.footer__container {
    display: flex;
    align-items: baseline;

    gap: 70px;
}

.footer__item:last-child {
    margin-left: auto;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}