.footer {
    @include section(60px, 60px);
    
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--address-bg-cl);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 60px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
    gap: 70px;
    }
}

.footer__item {
@media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    @media screen and (min-width: 1200px) {
        &:last-child {
                margin-left: auto;
            }
    }
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}