.header {
    @include fonts(null, 1.14, 500, null);
    
    border-bottom: var(--header-border);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 93px;
}

.header__contact {
    @extend %reset-list;

    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;
}

.header__contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    letter-spacing: 0.02em;

    fill: currentColor;
}