.nav__list {
    @extend %reset-list;

    display: flex;
    gap: 50px;

    letter-spacing: 0.02em;
}

.nav__item {
    position: relative;
}

.nav__link {
    @extend %reset-link;
    
    transition: color var(--hov-anim);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--txt-dark-cl);

&:hover,
&:focus {
    color: var(--accent-txt-cl);
}

&--current {
    color: var(--accent-txt-cl);
    &::after {
            position: absolute;
            bottom: -1px;
            left: 0;
    
            display: block;
            content: '';
            width: 100%;
            height: 4px;
    
            border-radius: 2px;
            background-color: var(--accent-txt-cl);
        }
}
}
