.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    

    width: 100vw;
    height: 100vh;

    transition: opacity var(--modal-anim), visibility var(--modal-anim);

    background-color: var(--backdrop-bg-cl);

    &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    
    &.is-hidden .modal {
            opacity: 0;
            transform: translate(-250%, 150%) scaleX(0.1) rotate(810deg);
    }
    }