.team-member {
    box-shadow: var(--card-team-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-member__content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 4px;
    padding-right: 4px;

    background-color: var(--txt-light-cl);
}

.team-member__subtitle {
    margin-bottom: 10px;

    @include fonts(16px, 1.19, 500, null);
    
    text-align: center;

    color: var(--txt-dark-cl);
}

.team-member__txt {
    margin-bottom: 16px;

    @include fonts(16px, 1.19, null, null);
    
    text-align: center;
}